.themeToggleWrapper {
  position: relative;
  display: inline-flex;
}

.themeToggleWrapper[data-theme-preference='system'] button > svg {
  opacity: 0;
}

.systemThemeIcon {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  width: 2.25rem;
  height: 2.25rem;
  color: var(--color-neutral-700);
  pointer-events: none;
}

:where([data-theme='dark'], [data-theme='dark'] *) .systemThemeIcon {
  color: var(--color-neutral-300);
}

.systemThemeIcon [data-theme-icon='dark'] {
  display: none;
}

:where([data-theme='dark'], [data-theme='dark'] *)
  .systemThemeIcon
  [data-theme-icon='light'] {
  display: none;
}

:where([data-theme='dark'], [data-theme='dark'] *)
  .systemThemeIcon
  [data-theme-icon='dark'] {
  display: block;
}
