name: Leave a comment

on:
  workflow_run:
    workflows: ['Generate and Compare Docs']
    types: [completed]

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  aggregate:
    name: Aggregate Comparison Results
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Download all comparison artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: results

      - name: Combine results
        id: combine
        # Even if the cat fails (no files found), we don't want to fail the workflow
        continue-on-error: true
        run: |
          {
            echo "combined<<EOF"
            cat results/*/comparison.txt
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: Add Comment to PR
        if: steps.combine.outputs.combined
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          comment-tag: compared
          message: ${{ steps.combine.outputs.combined }}
          pr-number: ${{ github.event.workflow_run.pull_requests[0].number }}
